@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primary: #214e34;
  --secondary: #5c7457;
  --third: #979b8d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
  background: #232323;
  color: #fff;
  overflow-x: hidden;
}
input,
select,
button {
  font-family: "Karla", sans-serif;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.hidden {
  display: none;
}

.info {
  margin-left: 5px;
  width: 85%;
}

.info__form {
  display: flex;
  gap: 5px;
  margin: 15px 0 30px 0;
}

.info__form-adult,
.info__form-child {
  position: relative;
  padding: 10px 20px;
  background-color: #282b28;
  border: 1px solid #282b28;
  border-radius: 20px;
  cursor: pointer;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.header__logo {
  width: 100px;
  height: 100px;
  margin: 0 30px 0 0;
}
form {
  grid-area: 2 / 1 / 3 / 2;
}
.results {
  width: 90%;
  margin-left: 10%;
  padding: 50px 15px;
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  text-align: center;

  background: #3e5641;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header h1 {
  font-size: 48px;
  text-transform: uppercase;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;

  margin: 15px 0 30px 0;
}

.subtitle span {
  font-size: 16px;
  text-transform: lowercase;
}

.age__subtitle {
  margin: 15px 0 18px 0;
}

.gender__content {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 15px 0;
}
.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
}
.height {
  grid-area: 1 / 1 / 2 / 3;
}
.weight {
  grid-area: 2 / 1 / 3 / 2;
  /* position: relative; */
}

.weight-adult {
  grid-area: 2 / 1 / 3 / 3;
}

.weight__inputs {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.weight__inputs {
  padding: 20px 0 0 0;
}

.age__inputs {
  padding-bottom: 20px;
}

.weight select {
  width: 55px;
  position: absolute;
  top: -12px;
  right: 8px;
  /* position: absolute;
  right: 95px;
  top: 55px; */
  border-radius: 12px;
}
.age {
  grid-area: 2 / 2 / 3 / 3;
}
.btn {
  grid-area: 3 / 1 / 4 / 3;

  margin: 40px 0 0 0;
  padding: 15px 0;
  background: #d36135;
  border: none;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.height__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.height__label {
  font-size: 22px;
}
.height__output--adult,
.height__output--child {
  font-size: 36px;
  font-weight: 500;
}
#heightAdult,
#heightChild {
  width: 80%;

  margin: 20px 0 40px 0px;
}
.weight__content,
.age__content {
  text-align: center;
}
.btn__decrease,
.btn__increase {
  width: 55px;
  height: 34px;
  margin: 0 1px;
  background: #3e5641;
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.btn__decrease:disabled {
  opacity: 0.5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
}
input[type="number"] {
  width: 120px;
  height: 120px;
  font-size: 50px;
  margin: 10px 7px 8px 7px;

  /* Firefox */
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type="number"],
input[type="date"],
select {
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #282b28;
  color: #c2cdca;
}
input[type="date"] {
  padding: 10px 20px;
  font-size: 15px;
  color: #c2cdca;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("https://cdn-icons-png.flaticon.com/128/10691/10691802.png");
  margin-top: -2px;
  width: 15px;
  height: 15px;
}
input[name="gender"] {
  position: relative;
  bottom: 126px;
  left: 137px;
}

.gender img {
  padding: 12px;
}

input[type="radio"],
.gender img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  border-radius: 20px;
  outline: 3px solid var(--primary);
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  background: #c2cdca;
  border-radius: 20px;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px solid #d36135;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}

.empty {
  color: #d36135;
  margin-left: 15px;
  text-transform: initial;
  font-weight: 400;
}

.results__bmi {
  font-size: 39px;
  font-weight: 700;
}
@media (max-width: 1350px) {
  .results {
    margin: 20px auto;
  }
}
@media (max-width: 1240px) {
  .container {
    width: calc(100% - 60px);
    padding: 30px;
  }
  .header {
    margin: 0 0 25px;
  }
  .header h1 {
    font-size: 48px;
  }
  .header__logo {
    width: 80px;
    height: 80px;
  }
  form {
    grid-area: 2 / 1 / 3 / 3;
    width: 800px;
    margin: 0 auto;
  }
  #calculator {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(fit-content, 1fr);
  }
  .results {
    grid-area: 1 / 1 / 2 / 3;
    width: 85%;
  }
}

@media (max-width: 991px) {
  .container {
    width: calc(100% - 20px);
    padding: 10px;
  }
  .header h1 {
    font-size: 32px;
  }
  .header__logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 850px) {
  form {
    width: 90%;
    margin: 0 auto;
  }
  .gender img {
    width: 64px;
    height: 64px;
  }
  input[name="gender"] {
    bottom: 70px;
    left: 86px;
  }
}
